version: "3.8"

services:
  frontend:
    build: ./frontend
    container_name: frontend_c
    ports:
      - "3000:5173"
    stdin_open: true
    tty: true

  backend:
    build: ./backend
    container_name: backend_c
    ports:
      - "5000:5000"
    stdin_open: true
    tty: true
    environment:
      - MONGO_URI=mongodb://mongo:27017/mydb
    depends_on:
      - mongo

  mongo:
    image: mongo:6.0
    container_name: mongo_c
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
